@import "{{ site.theme }}"; 

{
  box-sizing: border-box;
}

.mycolumn {
  float: left;
}

.myleft {
  width: 25%;
}

.myright {
  width: 75%;
}

/* Clear floats after the columns */
.myrow:after {
  content: "";
  display: table;
  clear: both;
}