<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <title>Samuel Tonucci</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="site-header">
        <h1>Samuel Tonucci</h1>
      </header>

      <main class="section">
        <div class="row">
          <div class="column left">
            <img class="avatar" src="assets/img/blank-profile-picture-973460.svg" alt="Head Shot" />
          </div>

          <div class="column right">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
              sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
              convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
              fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
              lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
              sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
              sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
              convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
              fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
              lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
              sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            </p>
          </div>
        </div>
        <section class="projects">
            <!-- Row 1: Vimeo -->
            <article class="project">
              <h2>Cincinnati Streetcar - Past, Present, and Future</h2>
              <div class="media media-16x9">
                <iframe
                  src="https://player.vimeo.com/video/VIDEO_ID?title=0&byline=0&portrait=0"
                  allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen
                  title="Vimeo video"
                ></iframe>
              </div>
              <p>Short description of what’s in the reel.</p>
            </article>
          
            <!-- Row 2: ArcMap link with image -->
            <article class="project">
              <h2>Wasson Way Mobility Study</h2>
              <a class="thumb-link" href="https://www.arcgis.com/home/item.html?id=YOUR_ITEM_ID" target="_blank" rel="noopener">
                <img
                  src="assets/img/arcmap-thumbnail.jpg"
                  alt="Thumbnail of ArcMap project: Wasson Way"
                />
              </a>
              <p>Click the image to open the ArcGIS item.</p>
            </article>
          
            <!-- Row 3: Drone Reels -->
            <article class="project drone-reels">
              <h2>Drone Reels</h2>
            </article>
          </section>
      </main>
      <footer class="site-footer"></footer>
    </div>
  </body>
</html>
