<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Use a relative_url filter so CSS loads correctly on GitHub Pages -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>Samuel Tonucci</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="site-header">
        <h1>Samuel Tonucci</h1>
      </header>

      <main class="section">
        <div class="row">
          <div class="column left">
            <img
              class="avatar"
              src="{{ '/assets/img/blank-profile-picture-973460.svg' | relative_url }}"
              alt="Head Shot"
            />
          </div>

          <div class="column right">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
              sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
              convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
              fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
              lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
              sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex
              sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis
              convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus
              fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada
              lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti
              sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
            </p>
          </div>
        </div>
      </main>

      <footer class="site-footer"></footer>
    </div>
  </body>
</html>
